<html>
<head>

    {% load static from staticfiles %}

    <title></title>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju-1.12.1/jq-3.2.1/dt-1.10.16/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/ju-1.12.1/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>

    <style>
        a{
            color:#e0003f;
            }

    </style>

</head>
<body>

<center><img src = {% static 'logo.png' %} /> <br />
    <a href = "/keymanage/employees">Employee View</a> | <a href = "keymanage/keys/">Key View</a>
</center>

<br /><br />

<table id = "data" class= = "display">
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Detail</td>
    </tr>
    </thead>
    <tbody>
    {% if employeelist %}
        {% for employee in employeelist %}
    <tr>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td><a href="{% url 'detail' employee.id %}">Detail</a></td>
    </tr>
        {% endfor %}
    {% else %}
    <p>No Employees are available.</p>
{% endif %}
    </tbody>
</table>

<script>
    $(document).ready( function () {
    $('#data').DataTable();
} );
</script>

</body>
</html>